:root {
    /* --peachyorange: #ffbf7d;
     */
     --peachyorange: #FFDD99;
    /* --deeporange: #ff9f62; */
    --deeporange: #ffbf7d;
    --midyellow: #fffee4;
    --chillgreen:#A8E0A3;
    --richpurple: #982ca5;
    --middarkblue: #2c5ba5;
        --midcornblue: #61b3bc;
    --lightterteal: #f3fffe;
    --lightteal: #E7FBF9;
    --midteal: #D4FAF1;
    /* --lightteal: #CDFDFF; */
    /* --lightpink: #f5c0ff;
     */
    --lightpink:#fcdef9;
     --midpink: #ea7dff;
    --lightback: #ffbf7d;
}
/* Global Styling */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Quicksand;
    text-decoration: none;


}
body{
    background-color: var(--white);
    justify-self: center;
    margin: 0 auto;

}

a {    color: #982ca5}
.container{
    width: 1600px;

    margin: 0 auto;
        background-color: var(--lightteal);
    padding-left: 100px;
padding-right: 100px;
}



/* Superheader */


.superheader{
    display: flex;
    justify-content: space-between;
}
.company-name {
    font-size: 53;
    font-family: Quicksand;
    font-weight: 900;
    letter-spacing: 0.01em;
    color: var(--middarkblue);
    align-self: center;
}
.spanish_site{
    font-size: 25px;
    font-weight: 300px;
    display: block;
    align-self:center;
}
.contact {
    display: block;
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
    border-radius: 45px; 
    background-color: var(--peachyorange);
    align-self: center;}
    /* background: linear-gradient(var(--peachyorange),var(--deeporange));
    box-shadow: 0 1px 0 rgba(0,0,0,.15), inset 0 1px 0 0 hsla(0,0%,100%,.1); */
 */

.contact:hover {
    background-color: var(--midcornblue);
    color: white;
    /* background: linear-gradient(var(--lightpink),var(--midpink));
    box-shadow: 0 1px 0 rgba(0,0,0,.15), inset 0 1px 0 0 hsla(0,0%,100%,.1); */
}

/* Header */

.header{
    background-color: var(--lightteal);
}
.navbar {
    background-color: var(--peachyorange);
    height: 45px;
    width: auto;
    display: block;
padding-bottom: 15px;
z-index: -7;
        padding-left: 100px;
padding-right: 100px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;

}
.nav-list-item {
    font-size: 26pt;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.72;
    padding: 7px;

}

.nav-list-item:hover {
    /* border-bottom: solid 2px white ; */
    border-radius: 70px;
    background-color: var(--midcornblue);
padding: 7px;
color: white;
}
/* Hero */

.hero-image {
    position: relative;
    width: 450px;
}
.hero{
    display: flex;
    background-color: white;

}
.hero-back{
    position: block;
    background-color: var(--lightpink);
    border-top-left-radius: 450px;
    border-bottom-left-radius: 450px;
    justify-items: center;
    align-items: center;
}

.hero-header{
    font-family: heebo;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 35pt;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-left: 15%;
    color: var(--middarkblue);

}

.hero-subheader{
    font-family: heebo;
    padding-bottom: 15px;
    font-size: 28pt;
    font-weight: 100px;
    letter-spacing: 0.04em;
    margin-left: 20%;
    color: var(--richpurple);
}

.hero-text {
    font-size: 26pt;
font-weight: 400px;
color: var(--richpurple);
display: block;
margin-left: 10%;
}

/* Items */

.item_demo{
    background-color: var(--lightteal);
}
.item_header{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 30;
    color: var(--richpurple);
    letter-spacing: 0.05em;
}
.item_list{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.item_list_items {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item_card{
background-color: var(--midpink);
padding: 10;
border-radius: 300px;
}
.item_card:nth-child(2n){
    background-color: var(--deeporange);
}

.item_name{
    font-size: 17pt;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--richpurple);
}
.item_text_links{
    padding-top: 25px;
    padding-bottom: 25px;
font-weight: 500;
font-size: 28px;
text-align: center;
letter-spacing: 0.03em;
    padding-bottom: 50px;
}

/* Family*/ 
.family{

    background-color: var(--lightpink);
    
    padding-bottom: 50px;;
}
.family-head {
        font-family: heebo;
        letter-spacing: 0.05em;
    background-color: var(--midcornblue);
    padding-top:50px;
    padding-bottom: 50px;
    justify-items: center;
    text-align: center;
    font-size: 45px;
    color: #fffff3;
}
.family-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;;
}

.family-items {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    display: block;
    text-align: center;
    /* border: solid 1px var(--midcornblue); */
    border-radius: 40px;
    background-color:var(--lightterteal);
}


.family-photo {
    width: 250px;
    border: solid 1px var(--midcornblue);

}
.family-title {
    padding: 15px;
    color: var(--middarkblue);
font-size: 25pt;
}
.family-text {
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
    color: var(--middarkblue);
}

.greg-div{
    height:189px;
    width: 250px;
    overflow: hidden;
margin-left: 50px
}

/* Footer */
.footer{
    padding-top: 25px;
    background-color: var(--deeporange);
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 38px;
    font-weight: 500;

}
.footer_subheader{
    font-family: Quicksand;
    color: var(--richpurple);
    font-weight: 900;
}
.footer_links{
    color:var(--richpurple);
}
.footer-left {
    display: block;
    margin-left: 50px;
    line-height: 1.71;
}
.footer-right {
    display: block;
line-height: 1.71;
    padding-right:50px;
    text-align: right;
}
.footer-bottom{
    background-color: var(--deeporange);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 200px;
}
.footer_logso_item{
    display: flex;

}
.footer_address{
    font-family: heebo;
    display: block;
    margin-top: 50px;
    color:var(--richpurple);
   
}

/*Prosthetics Hero*/


.prosthetics_hero_header{
    padding:30px;
    font-size: 48;
    text-align: center;
    display: block;
}
.prosthetics_hero_subheader{
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
}

.prosthetics_hero_text{
font-size: 28;
font-weight: 400;
text-align: center;
}

.prosthetics_gallery_list{
    display: flex;

}
.prosthetics_image_list_item{
    display: flex;
    flex-direction: row;
    padding:15px;
    flex-wrap: wrap;
    margin: 15px;
    border-radius: 50px;

background-color: var(--lightpink);

    
}
.prosthetics_images{
    display: block;
 object-fit: cover;
width: 100%;
height: 250px; 
border-radius: 45px;;
}

/* Orthotics Header*/

.orthotics_hero_header{
    padding:30px;
    font-size: 48;
    text-align: center;
    display: block;
}
.orthotics_hero_subheader{
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
}

.orthotics_hero_text{
font-size: 28;
font-weight: 400;
text-align: center;
}

.orthotics_gallery_list{
    display: flex;

}
.orthotics_image_list_item{
    display: flex;
    flex-direction: row;
    padding:15px;
    flex-wrap: wrap;
    margin: 15px;
    border-radius: 50px;

background-color: var(--lightpink);

    
}
.orthotics_images{
    display: block;
 object-fit: cover;
width: 100%;
height: 250px; 
border-radius: 45px;;
}

/*other*/
.holding_text{
    font-size: 58;
    font-weight: 900;
}

/*Insurance*/
.insurance_section{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.insurance_head{
    font-family: helvetica;
    font-size: 35pt;
    letter-spacing: 0.02em;
    background-color: var(--middarkblue);
    color: var(--midteal);
    font-weight: 600;
}

.ins_text{
    font-size: 18pt;
    color: var(--midcornblue);
    padding: 10 130 10 130;
    font-style: italic;
    font-weight: 500;
}
.ins_list{
    font-size: 22pt;
line-height: 1.69;
color: var(--middarkblue);
background-color: var(--lightterteal);
border-radius: 40px;
font-weight: 500;
}
.ins_subhead{
    font-weight: 500;
padding-bottom: 10;
}
.not_in_network{
    color: var(--middarkblue);
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 28;
font-style: italic;
}