:root {
    --peachyorange: #ffbf7d;
    --deeporange: #ff9f62;

}

* {
    list-style: none;
    font-family: Quicksand;
}
.navbar {
    background-color: var(--peachyorange);
    height: 45px;
    width: auto;
}
.nav-list {
    display: flex;
    flex-direction: row;
}
.nav-list-item {
    font-size: 26pt;
    font-weight: 500px;
    letter-spacing: 0.03em;
    line-height: 1.72;

}

.hero-back{
    position: absolute;
    background-color: (255, 159, 98, 0.3);
    border-radius: 45px;
}

.hero-header{
    font-size: 52pt;
    font-weight: 600px;
    letter-spacing: 0.04em;
}

.hero-subheader{
    font-size: 34pt;
    font-weight: 500px;
    letter-spacing: 0.03em;
}

.hero-text {
    font-size: 26pt;
font-weight: 400px;
color: aliceblue;

}